body{
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    color: black;
    

}
a{
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    
}
.Navi_bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.Logo{
    padding: 15px;
}
.navigation_buttons{
    margin-left: 20px;
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 5px;
    
}
.navigation_buttons:hover{
    background-color: rgb(204, 196, 196);
}
.name_under_photo{
    font-size: 15px;
    
}
.side_heading{
    font-size: 25px;
    color:rgb(36, 41, 67);
    font-weight: bold;
    line-height: 2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mini_heading{
    font-size: 15px;
    color:rgb(36, 41, 67);
    font-weight: bold;
    line-height: 2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sec2_container{
    
    display: flex;
    justify-content: center;
    max-width: 70%;
    margin: 0 auto 5% auto;
}
.profile_photo{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    text-align: center;
    
    
}
.photo{
    width: 150px;
    height: 200px;
    border-radius: 20px;
}
.profile_about{
    
    margin-left: 5%;
    
}
.profile_text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    letter-spacing: 2px;
    
}
.sec3_container{
    max-width: 70%;
    margin: auto;
    line-height: 1.5;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}
