:root{
    max-width: 80%;
    font-family: 'Roboto Mono', monospace;
    margin: auto;
    background-color: rgb(255, 255, 255);
    color: black;
    
}

.nav_head{
    padding: 10px; 
}
.Logo{
    width: 100%;
    margin: 0 auto 5% auto;
    text-align: center  ;
    padding: 15px;
    font-weight: bold;
    font-size: 30px;
}

.side_heading{
    font-size: 20px;
    color:rgb(36, 41, 67);
    font-weight: bold;
    line-height: 2;
    
}
.mini_heading{
    font-size: 15px;
    color:rgb(36, 41, 67);
    font-weight: bold;
    line-height: 2;
    
}
.sec1_container{ 
    max-width: 100%;
    margin: 0 auto 5% auto;
    line-height: 1.5;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;   
}
.profile_photo{
    width: 30%;
    height: 200px;
    border-radius: 10%; 
}
.photo{
    width: 150px;
    height: 200px;
    border-radius: 20px;

}
.profile_about{
    line-height: 1.5;
    letter-spacing: 1px;
    width: 70%;
}
.container{
    max-width: 100%;
    margin: 0 auto 5% auto;
    line-height: 1.5;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
}
.container_sub1{
    width: 60%;
    
}
.container_sub2{
    width: 30%;
}
footer{
    margin: auto;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer_container{
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px; 
    
}
footer a:hover img{
    width: 45px;
    transition: width 0.15s;
    transition-timing-function: ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    
}
.footer_logo{
    width: 40px;
}
.footer_container_sub{
    width: 33.33%;
}
.connect{
    text-align: center;
    position: relative;
    font-weight: 700;
    font-size: 18px;
    font-family:monospace;
    margin-bottom: 0;
}
@media only screen and (max-width: 750px) {
    :root{
        max-width: 90%;
        margin: auto;
        
    }
    .Logo{
        width: 100%;
        font-size: 30px;
    }
    .sec1_container{
        max-width: 100%;
        display: block;
        padding: 8px;
        margin: auto;
        margin-bottom: 10px;
        
    }
    .profile_photo{
        width: 100%;
        text-align: center;
        margin: auto;
    }
    .profile_about{
        max-width: 100%;
        width: 100%;
        margin:auto;
    }
    .profile_text{
        width: 100%;
    }
    .container{
        max-width: 100%;
        width: 100%;
        display: block;
        padding: 10px;
        margin: auto;
        margin-bottom: 10px;
    }
    .container_sub1{
        width: 100%;
        margin-bottom: 10px;
    }
    .container_sub2{
        width: 100%;
    }
    footer{
        width: 100%;
    }
    .footer_container{
        width: 100%;
        margin: auto;
    }
    .connect{
        margin-top: 15px;
    }
}